version: "3.8"

services:

  mysql:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dio
    ports:
      - "3306:3306"
    networks:
      - dio-network

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "8081:8080"
    depends_on:
      - mysql
    networks:
      - dio-network

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8082:8080"
    depends_on:
      - product-service
    networks:
      - dio-network

networks:
  dio-network:
